body {
  font-family: "Poppins", Poppins !important;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;

}
h4{
  font-size: 16px !important;
}
/* //............... Header ................// */
.header {
  font-family: 'Arial', sans-serif;
}
.nav-link {
  color: #333;
  text-decoration: none;
  transition: background 0.2s ease;
}

.nav-link:hover {
  background: #f0f0f0;
  border-radius: 4px;
}

.toggle-btn {
  font-size: 1.2rem;
  color: #007bff;
}

.header {
  font-family: 'Arial', sans-serif;
}
th{
  font-size: 14px;
  padding: 1px 13px;
}
td{
  font-size: 12px;
  padding: 1px 13px;

}
.accordion-button:focus{
  box-shadow: none !important;
}
/* //............... SideBar ................// */
.sidebar {

  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: background 0.2s ease;
}

.nav-link:hover {
  background: #f0f0f0;
  border-radius: 4px;
}

.toggle-btn {
  font-size: 1.2rem;
  color: #007bff;
}
.sidebarfixed .accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.sidebarfixed .accordion-button{
  background-color: transparent;
}
/* //..................... Dashboard .................  */
.dashboard-card {
  box-shadow: 0 .75rem 1.5rem #12263f08;
  margin-bottom: 24px;
  position: relative;
  border-bottom: none;
  transition: all .2s ease-in-out;
  z-index: 1;
  box-shadow: 0 .1875rem .75rem 0 rgba(47,43,61,.14);
}
.dashboard-card::after {
  border-bottom-color: #c8c4f9;
}
.dashboard-card:hover{
  box-shadow: 0 .25rem 1.125rem 0 rgba(47, 43, 61, .16);
}
.dashboard-card::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: .375rem;
  transition: all .2s ease-in-out;
  z-index: -1;
}
.dashboard-card:hover::after, .produts-quantity:hover::after {
  border-bottom-width: 3px;
  border-bottom-color: #7367f0;

}
.customers-card::after{
  border-bottom-color: #9ce4ed;
}
.customers-card:hover::after{
  border-bottom-color: #00bad1;
}
.review-card:hover::after {
  border-bottom-color: #ff4c51;
}
.review-card::after {
  border-bottom-color: #ffb9bb;
}
.produts-quantity::after{
    border-bottom-color: #ffdab6;
}
.produts-quantity:hover::after {
  border-bottom-color: #ff9f43;
}
.bg-label-warning {
  background-color: #fff0e1 !important;
  color: #ff9f43 !important;
}
.bg-label-info {
  background-color: #d6f4f8 !important;
  color: #00bad1 !important;
}
.bg-label-danger {
  background-color: #ffe2e3 !important;
  color: #ff4c51 !important;
}
.avatar {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #eeedf0;
  font-size: .9375rem;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.bg-label-primary {
  background-color: #e9e7fd !important;
  color: #7367f0 !important;
}

.dashboard-card h3.text-muted{
  font-size: 16px;
}
.card.card-border-shadow-warning::after {
  border-bottom-color: #ffdab6;
}
.chart-container {
  text-align: left;
}

.chart-header {
  margin-bottom: 10px;
}

.chart-title {
  font-size: 25px;
  color: #000;
  margin: 0;
}

.chart-subtitle {
  font-size: 0.9375rem;
  color: #8d8a94;
  margin: 0;
}
.card-subtitle {
  color: #8d8a94 !important;
}
.dashboard-section .product-list{
  max-height: 500px;
}
.chart-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 .1875rem .75rem 0 rgba(47,43,61,.14);
  overflow: hidden;
}
.card {
  box-shadow: 0 .1875rem .75rem 0 rgba(47,43,61,.14);
  border:  none !important;
}
.bg-label-warning {
  background-color: #fff0e1 !important;
  color: #ff9f43 !important;
}
.bg-label-info {
  background-color: #d6f4f8 !important;
  color: #00bad1 !important;
}
.bg-label-success {
  background-color: #ddf6e8 !important;
  color: #28c76f !important;
}
/* //..................... Customers .................  */
.customers-section .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  border-color: #dee2e6 !important;
}
.customers-section .dropdown-toggle::after{
  display: none !important;
}
.customers-section .table-responsive td ul li{
  width: 1.5rem;
  height: 1.5rem;
}
.customers-section .table-responsive .badge, .reports-section .table-responsive .badge{
  border-radius: 6px;
  font-size: 0.8667em;
  font-weight: 500;
  padding: 6px 15px;
}
button.btn.filter-btn {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 6px 26px;
  width: fit-content;
}

.btn.exportBtn {
  border: 1px solid #010101 !important;
  border-radius: 4px;
}
.btn.exportBtn:hover{
  border: 1px solid #0d6efd !important;
  background: #e9e7fd;
  color: #7468f0;

}
button.reloadBtn {
  border: 1px solid #010101;
  border-radius: 4px;
  display: flex;
}
button.reloadBtn:hover{
  border: 1px solid #010101 !important;
}
.filterbox .card-title{
  font-size: 14px;
}
.customers-section ul.dropdown-menu li{
  cursor: pointer;
}
.customers-section ul.dropdown-menu li:hover{
  background-color: #ededed;
}
.customers-section .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.customers-section .dropdown {
  position: relative;
  display: inline-block;
}

.customers-section .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 85px;
  border-radius: 5px;
}

.customers-section .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;

}

.customers-section .dropdown-content a:hover {background-color: #f5f3f3;}

.customers-section .dropdown:hover .dropdown-content {display: block;}

.customers-section .dropdown:hover .dropbtn {background-color: #3e8e41;}
/* //......................Edit Order.................// */
.w-px-100{
  width: 197px;
}
.editorder-section .PrintBtn, .editorder-section .DownloadBtn{
  border: 1px solid #010101;
  padding: 5px 19px;
  font-size: 14px;
  border-radius: 3px;
}
.customer-details .card-header{
  background-color: #ffffff00;
  padding: 1.5rem;
}
.customer-details .card-body{
  padding:1.5rem;
}
.customer-details .text-body{
  color:#363636 !important;
  text-decoration: none;
}
.customer-details .customer-id.card-body span{
  color: #6f6d79;
}
@media (min-width: 768px) {
  #donut_chart{
    float: inline-end;
    width: max-content;
  }
  
}
@media (max-width:768px){
  .customers-section .dropdown-content{
    left: 0px !important;
  }

}